<div id="recently-viewed-products" class="products" style="display:none"></div>

<script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
<div id="product-${handle}" class="product">
  <div class="image">
    <a href="${url}" class="cy">
      <img src="${Shopify.resizeImage(featured_image, "medium")}" />
    </a>
  </div>
  <div class="details">
    <a href="${url}">
      <span class="title">${title}</span>
      <span class="price">${Shopify.formatMoney(price)}</span>
    </a>
  </div>
</div>
</script>

<script type="text/javascript" charset="utf-8">
//<![CDATA[

// Including jQuery conditionnally.
if (typeof jQuery === 'undefined') {
  document.write({{ "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" | script_tag | json }});
  document.write('<script type="text/javascript">jQuery.noConflict();<\/script>');
}

// Including api.jquery.js conditionnally.
if (typeof Shopify.resizeImage === 'undefined') {
  document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
}

//]]>
</script>

{{ 'http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}

<script type="text/javascript" charset="utf-8">
//<![CDATA[

Shopify.Products.showRecentlyViewed( { howManyToShow:4 } );

//]]>
</script>

<style>

/* Some styles to get you started */

.collection {
overflow: hidden;
}

.collection .product {
float: left;
text-align: center;
width: 162px; /* 160px + 1px + 1px for the borders on either side */
margin: 0 14px 14px 0;
padding: 0;
position: relative; /* used to display absolutely positioned sale tag */
overflow: hidden;
}

.collection .product.last {
margin-right: 0;
}

.collection .product .image {
border: 1px solid #E0E0E0;
margin-bottom: 10px;
height: 160px;
overflow: hidden;
}

.collection .product .cy {
display: block;
margin: 0 auto;
}

.collection .product .image img {
max-width: 160px;
}

.collection .product .title {
display: block;
line-height: 16px;
font-size: 12px;
color: #222;
font-weight: 700;
}

.collection .product .price {
display: block;
line-height: 16px;
font-size: 11px;
color: #777;
font-weight: normal;
}

</style>